Python provides a wide range of built-in functions that cover various tasks, from mathematical operations to working with data structures and manipulating strings. Here are some common built-in functions in Python

# maths functions

In [1]:
abs(-5)  # Output: 5

5

In [2]:
max([3, 1, 4, 1, 5, 9, 2, 6, 5])  # Output: 9

9

In [3]:
min([3, 1, 4, 1, 5, 9, 2, 6, 5])  # Output: 1

1

In [4]:
sum([1, 2, 3, 4, 5])  # Output: 15

15

In [5]:
int('42')  # Output: 42

42

In [6]:
int('42')  # Output: 42

42

In [7]:
str(42)  # Output: '42'

'42'

# List and Sequence Functions

In [26]:
# Example 1: len() - Returns the length (number of elements) of a list.
numbers = [1, 2, 3, 4, 5]
length = len(numbers)
print(length)  # Output: 5

5

In [27]:
# Example 2: max() - Returns the maximum value in a list.
numbers = [3, 1, 4, 1, 5, 9, 2, 6, 5]
max_value = max(numbers)
print(max_value)  # Output: 9

9

In [28]:
# Example 3: min() - Returns the minimum value in a list.
numbers = [3, 1, 4, 1, 5, 9, 2, 6, 5]
min_value = min(numbers)
print(min_value)  # Output: 1

1

In [29]:
# Example 4: sum() - Returns the sum of all elements in a list.
numbers = [1, 2, 3, 4, 5]
total = sum(numbers)
print(total)  # Output: 15

15

In [30]:
# Example 5: sorted() - Returns a new sorted list from the elements of a list.
numbers = [3, 1, 4, 1, 5, 9, 2, 6, 5]
sorted_numbers = sorted(numbers)
print(sorted_numbers)  # Output: [1, 1, 2, 3, 4, 5, 5, 6, 9]

[1, 1, 2, 3, 4, 5, 5, 6, 9]

In [31]:
# Example 6: list() - Converts a sequence (e.g., tuple) to a list.
tuple_numbers = (1, 2, 3, 4, 5)
list_numbers = list(tuple_numbers)
print(list_numbers)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [32]:
# Example 7: any() - Returns True if at least one element in an iterable is True.
bool_values = [False, True, False]
has_true = any(bool_values)
print(has_true)  # Output: True

True

In [33]:
# Example 8: all() - Returns True if all elements in an iterable are True.
bool_values = [False, True, False]
all_true = all(bool_values)
print(all_true)  # Output: False

False

In [36]:
# Example 9: reversed() - Returns a reverse iterator for a sequence.
numbers = [1, 2, 3, 4, 5]
reversed_numbers = list(reversed(numbers))
print(reversed_numbers)  # Output: [5, 4, 3, 2, 1]

[5, 4, 3, 2, 1]

In [37]:
# Example 10: enumerate() - Adds a counter to an iterable and returns an enumerate object.
fruits = ["apple", "banana", "cherry"]
for index, fruit in enumerate(fruits):
    print(index, fruit)
# Output:
# 0 apple
# 1 banana
# 2 cherry

0 apple
1 banana
2 cherry